/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
    url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v34-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root{
    scroll-behavior: smooth;
}

/* Header */

.page {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    flex-direction: column;
    font-size: 16px;
    min-width: 350px;
}

.page__inner {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.page__inner_intro {
    padding: 0 1vw;
    padding-top: 29px;
}

.page__inner_grey {
    background-color: #f6f2f2;
}

.page__inner_section {
    padding: 0 1vw;
    padding-top: 86px;
    padding-bottom: 110px;
}

.page__header {
    margin: 0 auto;
}

.page__inner_subscribe {
    padding: 0 1vw;
}

/* Heder*/

.header {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1249px;
    min-height: 89px;
    background-color: rgba(0,0,0,0.8);
}

.site-menu__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width: 600px) {
    .site-menu__list {
        justify-content: center;
    }
}

.site-menu__item {
    display: flex;
    min-height: 89px;
}

.site-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
}

.site-menu__link:hover {
    background-color: #ff3f40;
}

.site-menu__link_active {
    background-color: #ff3f40;
}

@media screen and (max-width: 800px) {
    .site-menu {
        display: none;
    }
}

/* Popup menu */
.popup-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.popup-menu__button {
    display: block;
    width: 140px;
    height: 80px;
    background-image: url('../img/menu-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    border-radius: 5px;
}

.popup-menu__list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    z-index: 1;
}

.popup-menu__item {
    display: flex;
    min-height: 89px;
    justify-content: center;
    width: 100%;
}

.popup-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #e0e0e0;
}

.popup-menu__link:hover {
    background-color: #ff3f40;
}

.popup-menu__link_active {
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 801px) {
    .popup-menu {
        display: none;
    }  
}


/*Intro*/
.intro {
    display: flex;
    flex-wrap: wrap;
    max-width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
}

.intro__info {
    max-width: 595px;
    
}

@media screen and (max-width: 600px) {
    .intro__info {
        width: 100%;
        margin-bottom: 40px;
        margin-right: initial;
        text-align: center;
    }
    .intro__text{
        margin-bottom: 45px;
    }
    .action-link_red-full{
        margin: 0 auto;
    }
}

.intro__heading {
    font-family: 'Open Sans';
    font-size: clamp(2em, 2em + 2vw, 60px);
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .intro__heading {
        word-break: break-word;
        font-size: 30px;
    }
}

.intro__span_special{
    letter-spacing: 6px;
}

@media screen and (max-width: 600px) {
    .intro__span_special {
        overflow-wrap: break-word;
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.intro__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-right: 50px;
    margin-bottom: 85px;
}

.action-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    min-height: 55px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    border-radius: 5px;
    text-decoration: none;
}

.action-link_red-full {
    color: #fff;
    background-color: #FF2D2D;
}

.sample {
    padding-top: 16px;
}

.intro__video {
    max-width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
    width: 100%;
    
    max-height: 100%;
}

@media screen and (max-width: 1000px) {
    .intro__heading{
        font-size: 45px;
    }
    .intro{        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
    }
    .intro__text{
        margin-bottom: 45px;
    }
    .action-link_red-full{
        margin-bottom: 35px;
    }
}
@media screen and (min-width: 1000px) {
    .intro{        
       
        flex-wrap: nowrap;
              
    }
   
}
@media screen and (max-width: 800px) {
    .intro__video {
        width: 100%;
    }
    
}

/* Services */
.services {
    display: flex;
    max-width: 1249px;
    margin: 0 auto;
    padding: 0 1vw;
    padding-top: 95px;
    padding-bottom: 50px;
    border-bottom: 2px solid #ececec;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__heading {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Open Sans';
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.services__about {
    margin: 0;
    margin-bottom: 55px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.action-link {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 227px;
    padding: 0.5em 1em;
    min-height: 55px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    background-color: #FF2D2D;
    border-radius: 5px;
    text-decoration: none;
}

.action-link_red-transp {
    color: #ff2d2d;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 2px solid #ff2d2d;
}

.services__info {
    width: 539px;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 13px 35px;
    width: 610px;
    padding: 11px 0;
}

.services__item {
    width: 285px;
    min-height: 255px;
}

.services__item_icon_1::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/seviceslogo1.svg");
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_2::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/seviceslogo3.svg");
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_3::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/seviceslogo2.svg");
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__item_icon_4::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../img/seviceslogo4.svg");
    background-repeat: no-repeat;
    margin-bottom: 33px;
}

.services__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.services__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
}


@media screen and (max-width: 1200px) {
    .services{
        display: flex;
        justify-content: center;
    }
    .services__item{
        margin-top: 50px;
    }
   
}
@media screen and (max-width: 650px) {
    .services__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px 35px;
        
        padding: 8px 0;
    }
    .action-link_red-transp{
        margin: 0 auto;
    }
}



/* feature */
.feature{    
    width: 1249px;
    margin: 0 auto;
    padding: 105px 0 65px ;
    margin-bottom: 63px;
}

.feature__header{
    margin-bottom: 88px;
    padding: 0 15px;
}

.feature__header::after{
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    margin: 0 auto;
    border: none;    
    background-color: rgba(255, 45, 45, 1);
}

.feature__heading{
    margin: 0;
    margin-bottom: 28px;
    font-family: 'Open Sans';
    font-size: 41.9876px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.3834px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.feature__about{
    width: 537px;
    margin: 0 auto;
    margin-bottom: 34.5px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.feature__products {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature__product {
    flex: 1 1 24%;
    min-width: 250px;
    max-width: 299px;
    height: 291px;
    margin-bottom: 18px;
    object-fit: cover;
    transition: .15s all;
}

.feature__product:hover{
    transform: scale(1.05);
}

.filter{
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
}
.filter__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
    padding: 0 15px;
}

.filter__link{
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;    
    color: #000000;
}

.filter__link_active{
    color: #FF2D2D;
}

.filter__link:hover{
    color: #FF2D2D;
}

@media screen and (max-width: 1200px) {
    .feature{
        width: 100%;
    }
    .feature__products{
        display: flex;
        justify-content: center;
        gap: 14px;
    }
}    
@media screen and (max-width: 800px) {
    .filter__list {
        justify-content: center;
        width: 200px;
        gap: 10px;
    }
    
    .feature{
        width: 100%;
    }
    .feature__header{
        margin-bottom: 52px;
    }
}

@media screen and (max-width: 500px){
    .feature__about{
        width: 290px;
    }
}


/* team  */

.team{
  
    width: 1249px;
    margin: 0 auto;    
}

.team__header{
    margin-bottom: 67px;
    padding: 0 15px;
}

.team__header::after{
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    border: none;    
    background-color: rgba(255, 45, 45, 1);
}

.team__heading{
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Open Sans';
    font-size: 41.9876px;
    font-weight: 700;
    text-transform: uppercase;
}

.team__about{
    font-family: 'Open Sans';
    font-size: 16px;
    max-width: 450px;
    margin: 0;
    margin-bottom: 39px;
}

.team__members{
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: end;
    margin-bottom: 111px;
}

.team__lead-photo{
    object-position: bottom;
    object-fit: contain;
    background-color: #FF3F40;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.team__inner{
    display: flex;
    flex-direction: column;
}

@supports(display: contents){
   .team__inner{
    display: contents;
   }
}

@supports(grid-template-columns: subgrid){
    .team__inner{
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-items: end;
    }
}

.team__lead-main{
    max-width: 631px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
}

.team__lead-name{
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    bottom: 0;
    margin-bottom: 16px;
}
.team__lead-social{
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 49px;
}

.team__lead-link{
    color: #000;
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.team__lead-link:hover{
    text-decoration: underline;
}
.team__other-photo{
    display: block;
    background-color: #FF3F40;
}

.team__other{
    position: relative;
}

.team__others{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 59px;
}

.team__other-name{
    position: absolute;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px 0;
}

.team__other:hover > .team__other-name{
    display: block;
}


@media screen and (max-width: 1200px){
    .team{
        max-width: 1249px;
        width: 100%;
        margin: 0 auto;
    }
    .team__header {
        
        text-align: center;
    }
    .team__lead-social{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__about{
        margin: 0 auto;
       
    }
    .team__members{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .team__header::after{
        content: '';
        display: block;
        margin: 19px auto;
        width: 130px;
        height: 2px;
        border: none;    
        background-color: rgba(255, 45, 45, 1);
    }
    .team__others{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .team__lead-main{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .team__about{
        max-width: 320px;
    }
    .team__lead-about{
        max-width: 320px;
    }
}
/* subscribe */
.subscribe{
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: #2c2c2c;
    padding-top: 124px;
    padding-bottom: 140px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.subscribe__header {
    max-width: 1249px;
    margin: 0 auto;
    text-align: center;
}

.subscribe__heading{
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
}

.subscribe__about{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.75;
    color: #FFFFFF;
    margin-bottom: 56px;
}

.subscribe__form{    
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 22px;
    
}

.subscribe__input{   
    color: #8e8e8e;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 1 521px;
    min-height: 79px;
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    border-radius: 5px;
    
    margin-bottom: 15px;
    background-color: #fff;
}

.subscribe__button{    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    width: 214px;
    min-height: 79px;
    background-color: #ff2d2d;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

/* feedback */

.feedback{
    padding-top: 92px;
    padding-bottom: 110px;
    max-width: 100%;
    margin: 0  auto;
    margin-bottom: 107px;
    
}

.feedback__header{
    max-width: 1249px;
    margin: 0 auto;
    margin-bottom: 77px;
    
}
.feedback__header-wrapper{
    max-width: 752px;
}

.feedback__header::after{
    content: '';
    display: block;
    width: 130px;
    height: 2px;
    border: none;    
    background-color: rgba(255, 45, 45, 1);
}

.feedback__heading{
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.feedback__about{
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.75;    
    margin: 0;
    margin-bottom: 50px;
}

.feedback__body{
    display: flex;
    flex-wrap:  nowrap; 
    justify-content: space-between;    
    width: 100%;    
}

.feedback__body::before{
    content: '';
    flex: 1 1 auto;
}
.feedback__body::after{
    content: '';
    flex: 1 1 auto;
    background-color: #2D2D2D;
}

.feedback__form{
    max-width: 731px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 107px;
}

.feedback__form input::placeholder,
.feedback__form textarea::placeholder{
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
}

.feedback__name{
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    padding-left: 54px;
    margin-bottom: 44px;
    margin-right: 53px;
    font-family: 'Open Sans';
    font-size: 16px;
}
.feedback__email{
    box-sizing: border-box;
    width: 339px;
    height: 69px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 5px;
    padding-left: 48px;
    margin-bottom: 44px;    
    font-family: 'Open Sans';
    font-size: 16px;
}

.feedback__button{
    width: 728px;    
    min-height: 72px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #ff3b3b;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    padding: 5px 5px;
    word-break: break-all;
}

.feedback__textarea{
    box-sizing: border-box;
    resize: none;
    width: 731px;
    height: 249px;
    padding: 31px 51px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 16px;
    margin-bottom: 45px;
}

.feedback__contacts{
    color: #fff;
    background-color: rgba(45, 45, 45, 1);
}

.contacts{
    width: 315px;
    padding: 141px 17px 141px 79px;
}
.contacts__heading{
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contacts__addsess{
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.75;
    margin: 0;
    margin-bottom: 27px;
}

.contacts__email{
    display: block;
    font-family: 'Open Sans';
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
}

.contacts__tel{
    display: block;
    font-family: 'Open Sans';
    color: #fff;
    margin: 0;
}
@media screen and (max-width: 1200px){
    .feedback__name, 
    .feedback__email, 
    .feedback__textarea, 
    .feedback__button {
        width: 100%;
    }
    .feedback__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .feedback__body::before{
        display: none;
    }
    .feedback__form{
        margin: 30px 0;
    }
    .feedback__header::after{
        content: '';
        margin: 0 auto;
        display: block;
        width: 130px;
        height: 2px;
        border: none;
        background-color: rgba(255, 45, 45, 1)
    }
    .feedback__header-wrapper{
        margin:  0 auto;
        text-align: center;
    }
    .feedback{
        padding: 0 1vw;
        margin-top: 60px;
    }
    .feedback__name{
        width: 100%;
        margin-right: 0;
    }
    .feedback__email,
    .feedback__email{
        width: 100%;
    }
    .contacts{ 
        width: 100%;
        padding: 50px 50px;
        text-align: center;
    }
    .feedback__heading{
        text-align: center;
    }
    .feedback__body::after{
        display: none;
    }
    
}

/* footer */
.footer{
    padding: 0 1vw;
    background-color: #313030;
}

.footer__content{
    max-width: 1249px;
    min-height: 111px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright{
    margin: 0;
    color: #B8B8B8;
}

.social{
    display: flex;
    gap: 18px;
} 

@media screen and (max-width: 600px){
    .footer__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* JS */
.hide {
    display: none;
}